.h2{color: rgb(126, 212, 73);}
.h1{color: #172B4D;}

.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px;
    gap: 24px;
    position: absolute;
    width: 920px;
    height: 756px;
    left: 260px;
    top: 72px;

}
.header-container{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.37px;

   
}
.p{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172B4D;
  
}
.icon{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
}
.icon1{flex: none; order: 2; flex-grow: 0;}
.icon2{flex: none; order: 2; flex-grow: 0;}
.icon3{flex: none; order: 2; flex-grow: 0;}
.icon4{flex: none; order: 2; flex-grow: 0;}
.icon5{flex: none; order: 2; flex-grow: 0;}
